<form [formGroup]="statistiqueForm" (ngSubmit)="onSubmitForm()" id="formStatistique">
    <h1 class="h3 mb-3 fw-normal" *ngIf="statistiqueAModifier != null">{{stat_title}} <span style="font-style: italic;">{{dateToString(statistiqueAModifier['dateDAjout'])}}</span> :</h1>
    <fieldset disabled *ngIf="statistiqueAModifier != null">
        <div class="mb-3">
            <label for="id_statistique" class="form-label">Id</label>
            <input type="text" id="id_statistique" class="form-control" formControlName="id">
        </div>
    </fieldset>
    <div class="form-floating">
        <textarea class="form-control" placeholder="{{stat_description_legend}}" id="description" style="height: 100px; margin-bottom: 20px;" formControlName="description"></textarea>
        <label for="description">{{stat_description}}</label>
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">{{stat_date}}</label>
        <input type="date" min="2000-01-01" max="2200-01-01" class="form-control" id="date" formControlName="date">
    </div>
    <div style="padding-left:65px;padding-right:65px;margin-top:30px;">
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="statistiqueForm.invalid"><span *ngIf="statistiqueAModifier != null">{{stat_modify}}</span><span *ngIf="statistiqueAModifier == null">{{stat_create}}</span></button>
    </div>
</form>

<div id="backBar" routerLink="/statistiques">
    <h4>{{stat_back_home}}</h4>
    <img src="../../assets/svg/arrow-left-square-fill-back-to-accueil.svg" alt="{{stat_back_home}}"/>
</div>