<form [formGroup]="inscriptionForm" (ngSubmit)="onSubmitForm()" id="formInscription">
    <h1 class="h3 mb-3 fw-normal">Page d'inscription</h1>

    <div class="mb-3">
        <label for="email" class="form-label">Adresse Email*</label>
        <input type="email" class="form-control" id="email" placeholder="albert@hotmail.com" formControlName="email">
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Mot de passe*</label>
        <input type="password" class="form-control" id="password" placeholder="mot de passe" formControlName="password">
    </div>

    <div class="mb-3">
        <label for="nom" class="form-label">Nom*</label>
        <input type="text" class="form-control" id="nom" placeholder="nom" value="" formControlName="nom">
    </div>

    <div class="mb-3">
        <label for="prenom" class="form-label">Prénom*</label>
        <input type="text" class="form-control" id="prenom" placeholder="prénom" formControlName="prenom">
    </div>

    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="number" class="form-control" id="age" placeholder="age" formControlName="age">
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="inscriptionForm.invalid"><span *ngIf="!nouvelUtilisateur">Inscription</span><span *ngIf="nouvelUtilisateur">Créer l'utilisateur</span></button>
</form>

<div *ngIf="nouvelUtilisateur" id="backBar" routerLink="/utilisateurs">
    <h4>Retour à la liste des utilisateurs</h4>
    <img src="../../assets/svg/arrow-left-square-fill-back-to-accueil.svg" alt="Retour à la liste des utilisateurs"/>
</div>