<h2 (click)="rafraichir()" class="titre noselect">Véhicules</h2>
<div style="padding-top: 15px;max-width: 300px;margin-left: 20px;" *ngIf="checkAdminStatus()">
    <h4>Utilisateur :</h4>
    <select class="form-select" aria-label="Default select example" style="margin-bottom: 15px;" [(ngModel)]="selectedOption" #selectList (change)="chargerListeVehiculesUtilisateur(selectList.value)">
        <option *ngFor="let utilisateur of utilisateurs" [selected]="utilisateurSelectionne != null && utilisateurSelectionne.id_utilisateur === utilisateur.id_utilisateur" value="{{utilisateur['id_utilisateur']}}">{{utilisateur['id_utilisateur']}} - {{utilisateur['email']}}, {{utilisateur['nom']}} {{utilisateur['prenom']}}</option>
    </select>
</div>
<table class="table" *ngIf="utilisateurSelectionne != null && nbVehicules>0">
    <thead>
        <tr>
            <th scope="col" class="noselect" *ngIf="triId == ''" (click)="demandeDeTriId()">#</th>
            <th scope="col" class="noselect" style="width: 50px;" *ngIf="triId == 'ASC'" (click)="demandeDeTriId()">#<img style="padding-left: 5px" src="../../assets/svg/tri/sort-numeric-down.svg" alt="tri #"/></th>
            <th scope="col" class="noselect" style="width: 50px;" *ngIf="triId == 'DESC'" (click)="demandeDeTriId()">#<img style="padding-left: 5px" src="../../assets/svg/tri/sort-numeric-up-alt.svg" alt="tri #"/></th>
            <th scope="col" class="noselect" *ngIf="triNomUnique == ''" (click)="demandeDeTriNomUnique()">Nom unique</th>
            <th scope="col" class="noselect" *ngIf="triNomUnique == 'ASC'" (click)="demandeDeTriNomUnique()">Nom unique<img style="padding-left: 5px"src="../../assets/svg/tri/sort-alpha-down.svg" alt="tri nom unique"/></th>
            <th scope="col" class="noselect" *ngIf="triNomUnique == 'DESC'" (click)="demandeDeTriNomUnique()">Nom unique<img style="padding-left: 5px"src="../../assets/svg/tri/sort-alpha-up-alt.svg" alt="tri nom unique"/></th>
            <th scope="col" class="noselect" *ngIf="triMarque == ''" (click)="demandeDeTriMarque()">Marque</th>
            <th scope="col" class="noselect" style="width: 100px;" *ngIf="triMarque == 'ASC'" (click)="demandeDeTriMarque()">Marque<img style="padding-left: 5px"src="../../assets/svg/tri/sort-alpha-down.svg" alt="tri par marque"/></th>
            <th scope="col" class="noselect" style="width: 100px;" *ngIf="triMarque == 'DESC'" (click)="demandeDeTriMarque()">Marque<img style="padding-left: 5px"src="../../assets/svg/tri/sort-alpha-up-alt.svg" alt="tri par marque"/></th>
            <th scope="col" class="noselect" *ngIf="triType == ''" (click)="demandeDeTriType()">Type</th>
            <th scope="col" class="noselect" *ngIf="triType == 'ASC'" (click)="demandeDeTriType()">Type<img style="padding-left: 5px"src="../../assets/svg/tri/sort-alpha-down.svg" alt="tri par type"/></th>
            <th scope="col" class="noselect" *ngIf="triType == 'DESC'" (click)="demandeDeTriType()">Type<img style="padding-left: 5px"src="../../assets/svg/tri/sort-alpha-up-alt.svg" alt="tri par type"/></th>
            <th scope="col" class="noselect" *ngIf="triDetail == ''" (click)="demandeDeTriDetail()">Détail</th>
            <th scope="col" class="noselect" *ngIf="triDetail == 'ASC'" (click)="demandeDeTriDetail()">Détail<img style="padding-left: 5px"src="../../assets/svg/tri/sort-alpha-down.svg" alt="tri par détail"/></th>
            <th scope="col" class="noselect" *ngIf="triDetail == 'DESC'" (click)="demandeDeTriDetail()">Détail<img style="padding-left: 5px"src="../../assets/svg/tri/sort-alpha-up-alt.svg" alt="tri par détail"/></th>
            <th *ngIf="nbVehicules > 0">
                <button type="button" class="btn btn-danger" (click)="auMoinsUnASupprimer()" [disabled]="vehiculesASupprimer.length == 0">Supprimer</button>
            </th>
        </tr>
    </thead>
    <br/>
    <tbody>
        <tr *ngFor="let vehicule of vehicules" (click)="modifierVehicule(vehicule)">
            <th scope="row">{{vehicule['id_vehicule']}}</th>
            <td>{{vehicule['nom_unique']}}</td>
            <td>{{vehicule['marque']}}</td>
            <td>{{vehicule['type']}}</td>
            <td>{{vehicule['detail']}}</td>
            <td (click)="onEvent($event)">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" (change)="aSupprimer(vehicule['id_vehicule'])">
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="nbVehicules>0" id="statNbVehicules">Total: {{nbVehicules}} véhicule<span *ngIf="nbVehicules>1">s</span></div>
<div *ngIf="utilisateurSelectionne != null && nbVehicules==0" id="statNbVehicules">{{utilisateurSelectionne['nom']}} {{utilisateurSelectionne['prenom']}} ({{utilisateurSelectionne['email']}}) n'a pas encore conduit de véhicules</div>
<div class="boutonAjouter">
    <button class="w-100 btn btn-lg btn-primary" (click)="nouveauVehicule()">Ajouter un nouveau véhicule</button>
</div>
<div id="backBar" routerLink="/accueil">
    <h4>Retour au menu d'accueil</h4>
    <img src="../../assets/svg/arrow-left-square-fill-back-to-accueil.svg" alt="Retour au menu d'accueil"/>
</div>

