<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <div style="float: left;">
        <p>
        <a class="navbar-brand" routerLink="/" *ngIf="connecte" style="font-family: source_sans_proregular;font-size: 30px;">Site Kilométrique</a>
        <a class="navbar-brand" routerLink="/" *ngIf="!connecte">Site Kilométrique - Page de Connexion</a> 
      </p>
      </div>
      
  
      <div style="display: inline-flex; float: right;">

        <ul class="navbar-nav me-auto mb-2 mb-md-0 logo">
          <li class="nav-item">
            <img src="../../assets/svg/fr.svg" alt="english"/>
          </li>
        </ul>


        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!connecte" style="height: 30px;font-family: source_sans_proregular;font-size: 20px;">
          <li class="nav-item" *ngIf="componentAffiche !== 'componentConnexion'">
            <a class="nav-link active" aria-current="page" routerLink="/connexion">Connexion</a>
          </li>
          <li class="nav-item" *ngIf="componentAffiche !== 'componentInscription'">
            <a class="nav-link active" aria-current="page" routerLink="/inscription">S'inscrire</a>
          </li>
        </ul>


        <ul class="navbar-nav me-auto mb-2 mb-md-0 logo" *ngIf="connecte && componentAffiche !== 'componentProfil'">
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" routerLink="/connexion" (click)="deconnexion()">Déconnexion</a> -->
            <img src="../../assets/svg/person-circle.svg" alt="profil" (click)="modifierProfil()"/>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-md-0 logo" *ngIf="connecte">
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" routerLink="/connexion" (click)="deconnexion()">Déconnexion</a> -->
            <img src="../../assets/svg/box-arrow-up.svg" alt="déconnexion" routerLink="/connexion" (click)="deconnexion()"/>
          </li>
        </ul>


      </div>

    </div>
  </nav>


  