<h2 class="titre noselect">Télécharcher vos données</h2>
<div style="padding-top: 15px;max-width: 300px;margin-left: 20px;" *ngIf="checkAdminStatus()">
    <h4>Utilisateur :</h4>
    <select class="form-select" aria-label="Default select example" style="margin-bottom: 15px;" [(ngModel)]="selectedOption" #selectList (change)="chargerInfoUtilisateur(selectList.value)">
        <option *ngFor="let utilisateur of utilisateurs" [selected]="utilisateurSelectionne != null && utilisateurSelectionne.id_utilisateur === utilisateur.id_utilisateur" value="{{utilisateur['id_utilisateur']}}">{{utilisateur['id_utilisateur']}} - {{utilisateur['email']}}, {{utilisateur['nom']}} {{utilisateur['prenom']}}</option>
    </select>
</div>

<form [formGroup]="telechargerForm" (ngSubmit)="onSubmitForm()" id="formTelecharger">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="switchHistoriqueDeNav" formControlName="avecHistoNav">
        <label class="form-check-label" for="switchHistoriqueDeNav">Avec/Sans l'historique de navigation</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="switchVehicules" formControlName="avecVehicule">
        <label class="form-check-label" for="switchVehicules">Avec/Sans les véhicules</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="switchStatistiques" formControlName="avecStat">
        <label class="form-check-label" for="switchStatistiques">Avec/Sans les statistiques</label>
    </div>
    <div style="padding-left:65px;padding-right:65px;margin-top:30px;">
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="telechargerForm.invalid">Télécharger</button>
    </div>
</form>


<div id="backBar" routerLink="/accueil">
    <h4>Retour au menu d'accueil</h4>
    <img src="../../assets/svg/arrow-left-square-fill-back-to-accueil.svg" alt="Retour au menu d'accueil"/>
</div>