<form [formGroup]="motDePasseForm" (ngSubmit)="onSubmitForm()" id="formMotDePasse">
    <h1 class="h3 mb-3 fw-normal">{{passwd_title}} ?</h1>
    <div class="mb-3">
        <label for="nouvMotDePasse" class="form-label">{{passwd_legend}}</label>
        <input type="password" class="form-control" id="nouvMotDePasse" placeholder="{{passwd_placeholder}}" formControlName="mdp">
    </div>
    <div style="padding-left:65px;padding-right:65px;margin-top:30px;">
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="motDePasseForm.invalid">{{passwd_confirm}}</button>
    </div>
</form>
<div id="backBar" (click)="retourProfilFct()">
    <h4>{{passwd_back_profile}}</h4>
    <img src="../../assets/svg/arrow-left-square-fill-back-to-accueil.svg" alt="{{passwd_back_profile}}"/>
</div>