<form [formGroup]="marqueForm" (ngSubmit)="onSubmitForm()" id="formMarque">
    <h1 class="h3 mb-3 fw-normal" *ngIf="marqueAModifier != null">Modifier <span style="font-style: italic;">{{marqueAModifier['nom_unique']}}</span> :</h1>
    <fieldset disabled *ngIf="marqueAModifier != null">
        <div class="mb-3">
            <label for="id_marque" class="form-label">Id</label>
            <input type="text" id="id_marque" class="form-control" formControlName="id">
        </div>
    </fieldset>

    <div class="mb-3">
        <label for="nom" class="form-label">Nom unique</label>
        <input type="text" class="form-control" id="nom" placeholder="nom" formControlName="nom">
    </div>
    <div style="padding-left:65px;padding-right:65px;margin-top:30px;">
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="marqueForm.invalid"><span *ngIf="marqueAModifier != null">Modifier</span><span *ngIf="marqueAModifier == null">Créer</span></button>
    </div>
</form>

<div id="backBar" routerLink="/marques">
    <h4>Retour à la liste des marques</h4>
    <img src="../../assets/svg/arrow-left-square-fill-back-to-accueil.svg" alt="Retour à la liste des marques"/>
</div>