/* You can add global styles to this file, and also import other style files */


.form-signin {
  width: 100%;
  max-width: 1000px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@font-face {
  font-family: 'source_sans_proregular';
  src: url('./assets/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/source-sans-pro/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'balooregular';
  src: url('./assets/fonts/baloo-regular/baloo-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/baloo-regular/baloo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
